.snack-wrapper {
  position: fixed;
  text-align: center;
  width: max-content;
  top: 0;
  left: 60vw;
  right: 26vw;
  width: 14vw;
  z-index: 1000;
  background-color: rgba(126,87,194,0.9);
  padding: 1em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
}

.title{
  color: white;
}

.snack-wrapper div{
  margin-bottom: 10px;
  font-size: larger;
}

.snack-show {
  animation: animeSnackShow 1s forwards ease-in-out;
}
.snack-hide {
  animation: animeSnackHide 1s forwards ease-in-out;
}

@keyframes animeSnackShow {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes  animeSnackHide{
  0%{
    transform: translateY(0);
  }
  99%{
    transform: translateY(-100%);
  }
  100%{
    display: none;
  }
}
