.main-wrapper {
  position: fixed;
  left: 0 ;
  width: 33vw;
  height: 100vh;
  overflow-y: auto;
  background: url("../../../assets/menu-bcg.jpg") 100% 100% no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#2a71ba",GradientType=1);
  border: solid 2px black;
}
.toolbar-grid {
}
.content-wrapper {
  display: grid;
  justify-content: center;
  grid-row-gap: 10px;
  text-align: center;
  margin: 2em 1em 1em;
}
.heading {
  margin: 0 0 1em;
  font-size: 25px;
}
