.cables-toolbar-wrapper {
  margin: 0 1em;
  border: 2px solid lightgray;
  padding: 1em;
  background-color: #E3F2FD;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75);
}
.cable-wrapper {
  margin: calc( 1em + 5px ) 0;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.75);
  font-size: larger;
}
.cable-wrapper:hover {
  cursor: pointer;
  animation: animeCableWrapper 0.3s forwards ease-in-out;
}
.cable-title {
  text-decoration: underline solid;
}
.chosen-cable {
  background-color: #BBDEFB;
  transform: scale(1.03);
}
.cable-data {
  margin: 2em 0;
  /*font-size: large;*/
  animation: animeCableData 0.3s forwards ease-in-out;

}
.cable-item {
  color: darkblue;
  margin: 3px 0 6px;
}
.cable-toolbar-title {
  font-size: 24px;
  font-family: monospace;
}

@keyframes animeCableWrapper {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
    background-color: #BBDEFB;
  }
}

@keyframes animeCableData {
  0% {
    opacity: 0;
    height: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    height: 100%;
    transform: translateY(0);
  }
}
