<mat-card class="cables-toolbar-wrapper" [ngClass]=" type === 'submarine' ? 'sub-bcg' : 'ixp-bcg' ">
  <div *ngIf="showTool" class="close"  (click)="closeTool()">X</div>
  <div *ngIf="!showTool" class="cable-toolbar-title"  (click)="chooseTool()">{{ title }}</div>
  <div  *ngIf="showTool">
    <button mat-raised-button	 *ngFor="let cable of cables; let i=index" class="cable-wrapper"
            [ngClass]="chosenCable && chosenCable.index === i ? 'chosen-cable': ''"
            (click)="showCable(i)"
    >
      <div class="cable-title">
        {{ cable.name }}
      </div>
      <div class="cable-data" *ngIf="chosenCable && chosenCable.index === i">
        <div *ngIf="type === 'ixp' || type === 'dc'">
          <p >Locations:</p>
          <div *ngFor="let loc of cables[0].landing_points" g>
            <p >{{ loc.name }}</p>
          </div>
        </div>
        <p ></p>
        <p *ngIf="type === 'submarine'">Ready for service:</p>
        <p *ngIf="type === 'submarine'" class="cable-item">{{ chosenCable.cable.ready }}</p>
        <p *ngIf="type === 'submarine'">Length: </p>
        <p *ngIf="type === 'submarine'" class="cable-item">{{ chosenCable.cable.length }}</p>
        <p *ngIf="type === 'submarine'">Owners: </p>
        <p *ngIf="type === 'submarine'" class="cable-item">{{ chosenCable.cable.owners }}</p>
      </div>
    </button>
  </div>
</mat-card>
