.cables-toolbar-wrapper {
  margin: 0 1em;
  border: 2px solid lightgray;
  padding: 1em;
  /*background-color: #E3F2FD;*/
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75);
}
.sub-bcg {
  background: url("../../../assets/submarine-cable.jpeg");
}
.ixp-bcg {
  background: url("../../../assets/ixps.jpg");
}
.cable-wrapper {
  margin: 0.5em 0;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.75);
  font-size: larger;
  white-space: unset !important;
  background: rgba(255,255,255,0.8);
}
.cable-wrapper:hover {
  cursor: pointer;
  animation: animeCableWrapper 0.3s forwards ease-in-out;
}
.cable-title {
  text-decoration: underline solid;
}
.chosen-cable {
  background-color: #BBDEFB;
  transform: scale(1.03);
}
.cable-data {
  margin: 1em 0;
  /*font-size: large;*/
  animation: animeCableData 0.3s forwards ease-in-out;

}
.cable-item {
  color: darkblue;
  margin: 2px 0 3px;
}
.cable-toolbar-title {
  font-size: 24px;
  color: black;
  font-weight: bolder;
}
.cable-toolbar-title:hover {
  cursor: pointer;
}

@keyframes animeCableWrapper {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
    background-color: #BBDEFB;
  }
}

@keyframes animeCableData {
  0% {
    opacity: 0;
    height: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    height: 100%;
    transform: translateY(0);
  }
}
